@font-face {
  font-family: Geogrotesque;
  src:
    local("Geogrotesque Regular"),
    local("Geogrotesque-Regular"),
    url("../fonts/Geogrotesque-Regular.woff2") format("woff2"),
    url("../fonts/Geogrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: Geogrotesque;
  src:
    local("Geogrotesque SemiBold"),
    local("Geogrotesque-SemiBold"),
    url("../fonts/Geogrotesque-SemiBold.woff2") format("woff2"),
    url("../fonts/Geogrotesque-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal
}
